<% provide(:title, "ユーザー一覧") %>
<% provide(:btn_text, "編集する") %>

<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
          <%= link_to "削除", user_path(user), method: :delete, 
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-sm btn-primary btn-destroy" %></br>
          <button type="button" class="btn btn-primary btn-md btn-edit" data-toggle="collapse" data-target="#user-info<%= user.id %>">
            編集
          </button>
          <div id="user-info<%= user.id %>" class="collapse">
            <%= render 'form', user: user %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>