<% provide(:title, @user.name) %>

<table class="table table-bordered user-table">
  <tbody>
    <tr>
      <td><%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-sm btn-primary" %>　
          <%= l(@first_day, format: :middle) %>　時間管理表　
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-sm btn-primary" %>
      </td>
      <td>指定勤務開始時間　<%= l(@user.designated_work_start_time, format: :time) %></br>
          指定勤務終了時間　<%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日　<%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.affiliation %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= l(@last_day, format: :short) %></td>
    </tr>
  </tbody>
</table>
<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-md btn-primary btn-edit-attendances" %>
<%= link_to "CSV出力", user_path(@user, format: :csv), class: "btn btn-primary btn-csv-export" %></br>
<%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-primary btn-reviced-attendaces" %>

<table class="table table-bordered table-condensed" id="table-attendances">
  <thead>
    <tr>
      <td rowspan="3">残業申請</td>
      <td rowspan="3">日付</td>
      <td rowspan="3">曜日</td>
      <td colspan="8">【実績】</td>
      <td colspan="6">所定外勤務</td>
    </tr>
    <tr>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2">在社時間</td>
      <td rowspan="2">備考</td>
      <td colspan="2">終了予定時間</td>
      <td rowspan="2">時間外時間</td>
      <td rowspan="2">業務処理内容</td>
      <td rowspan="2">指示者確認印</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
    </tr>
  </thead>
    
  <% @attendances.each do |day| %>
    <tbody>
      <tr>
        <td><%= link_to '残業申請', edit_extrawork_user_path(@user, day), remote: true, class: "btn btn-md btn-primary" %></td>
        <td><%= l(day.worked_on, format: :short) %></td>
        <td><%= $days_of_the_week[day.worked_on.wday] %></td>
        <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
        <td><%= l(day.started_at, format: :min) if day.started_at.present? %></td>
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.nil? %>
            <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
          <% end %>
        </td>
        <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
        <td><%= l(day.finished_at, format: :min) if day.finished_at.present? %></td>
        <td>
          <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
            <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
          <% end %>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
            <%= day_total_working_times = working_times(day.started_at, day.finished_at) %>
            <% @month_total_working_times = @month_total_working_times.to_f + day_total_working_times.to_f %>
          <% end %>
        </td>
        <td><%= day.note %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <td></td>
      <td colspan="2"></td>
      <td colspan="6"></td>
      <td>在社合計：<%= format("%.2f", @month_total_working_times.to_f) %></td>
      <td colspan="5"></td>
      <td>
        <%= link_to "申請", "#", class: "btn btn-lg btn-primary" %>
      </td>
    </tr>
  </tfoot> 
</table>

<!--モーダルウインドウ表示-->
<div id="edit-extrawork" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>